// global transition css

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

/* 入住企业动画 */
// .checkIn-enter-active, .checkIn-leave-active{
//   transition: opacity .5s;
// }
// .checkIn-enter, .checkIn-leave-to{
//   opacity: 0;
// }
@keyframes bounce-in {
  0% {
    height: 0; 
  } 
  100% {
    height: 50px; 
  }
}  
@keyframes bounce-out {
  0% {
    height: 50px;  
  }
  100% {
    height: 0;  
  } 
}  
 
.checkIn-enter-active{     /*显示和隐藏的时候*/
  animation: bounce-in 0.5s linear;
}
.checkIn-leave-active{     /*显示和隐藏的时候*/
  animation: bounce-out 0.5s linear;
} 